body {
  font-family: Sans;
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
}

.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
    fill: currentColor;
}

a.pagemenu:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}

.pagemenu {
  background-color: #222;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  right:0;
}

.pagemenu:hover, .pagemenu:focus {
  background-color: #555;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  overflow: auto;
  top: 42px;  /* font-size=16 + 2 * padding=2 + 2*border=1 */
  right:0;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background-color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown-content a:hover {
  background-color: #555;
}

.show {display: block;}

.pagecontent {
  overflow: hidden;
  display: none;
  padding: 6px 12px;
  border: 0px;
}

.keyboard-options {
  margin: 10px auto;
  width: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
}

.keyboard-holder {
  margin: 10px auto;
  height: 200px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.btn {
  padding: 5px 8px 5px 8px;
  margin: 0px 3px 0px 3px;
}

.key {
  position: absolute;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 12px;
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
  -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.key:hover {
  background-color: rgb(255, 192, 32);
}

.key .label {
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 0px;
  right: 0px;
}

.black {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  z-index: 1;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.5);
}

.white {
  background-color: #ffffff;
  color: rgb(32, 32, 32);
  z-index: 0;
  text-shadow: 0px 1px 1px rgba(32, 32, 32, 0.5);
}


